/***** Universal Styles *****/
        
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

header{
  font-size: 2.1rem;
  font-weight: bold;
  color: #399bd1;
  padding-top: 3rem;
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ad05adcb;
  padding: 2rem 0;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #da560a;
}
p{
  font-weight: 550;
  line-height: 1.7em;
  margin: .5rem 0;
}
ul{
  font-weight: 600;
  margin: 1rem 0;
  line-height: 1.8em;
}
img {
  width: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
table {
  width: 80%;
  margin: 1rem 0;
}
th{
  width: 1fr;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
td{
  border-bottom: 1px solid #ddd;
  width: 1fr;
  padding: 10px;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}

.mar-1rm{
  margin: 1rem 0;
}
.mar-1hlfrm{
  margin: 1.5rem 0;
}
.mar-2rm{
  margin: 2rem 0;
}
.mar-2hlfrm{
  margin: 2.5rem 0;
}
.mar-3rm{
  margin: 3rem 0;
}
/***** End Universal Styles *****/




/***** Examples Code Colors *****/

.cssselectorcolor,
.tagnamecolor{
  color: rgba(250, 115, 74, 0.897);
}
.jscolor,
.cssdelimitercolor{
  color: rgb(255, 255, 255);
}
.tagcolor{
  color: rgb(172, 246, 252);
}
.jskeywordcolor,
.csspropertycolor,
.attributecolor{
  color: rgb(213, 161, 226);
}
.jsnumbercolor{
  color: #77a5fc;
}
.jspropertycolor{
  color: rgb(255, 255, 255);
}
.csspropertyvaluecolor,
.attributevaluecolor,
.jsstringcolor{
  color: rgba(168, 235, 168, 0.836);
}
.commentcolor{
  color: darkgrey;
}
/***** End Examples Code Colors *****/

.code-div{
  background-color: rgba(185, 185, 182, 0.274);
  margin: 1rem 0;
  padding: 10px;
}
.code-p{
  background-color: rgb(43, 41, 41);
  color: #d6d6d4;
  padding: 5px;
}
.code-txt{
  background-color: rgba(252, 216, 170, 0.233);
  color: #f72c2c;
  padding: 1px 5px;
}
.example-code{
  background-color: rgb(37, 36, 36);
  color: #ffffff;
  padding: 10px;
}
.code-p,
.code-txt,
.example-code{
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-style: italic;
}

.highlight{
  background-color: rgba(240, 245, 169, 0.452);
  padding: 15px;
}
.highlight-red{
  background-color: rgba(250, 174, 174, 0.452);
  padding: 15px;
}

#navbar {
  position: fixed;
  min-width: 285px;
  top: 0px;
  left: 0px;
  width: 295px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}
#navbar > header{
  margin: 20px 0;
  padding-left: 20px;
}
#navbar ul {
  height: 75%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-link{
  display: block;
  color: #5a5656;
  font-weight: 600;
  margin: 2px 0;
  padding: 10px 0px 10px 20px;
}
.nav-link:hover, .nav-link:active {
  background: rgb(146, 196, 193);
  color: rgb(255, 255, 255);
}

#main-doc {
  position: absolute;
  margin-left: 315px;
  padding: 20px;
  margin-bottom: 110px;
}

.main-section{
  margin-bottom: 30px;
}
.main-section > ul{
  list-style-type: disc;
}

.img-div{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 80%;
  height: auto;
  padding: 2% 5%;
}
.img-div > img{
  background-color: white;
  height: 300px;
  padding: 0 20%;
}

.example-method{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 80%;
  padding: 2% 5%;
}

/***** Browser Support Logos *****/

.browserLogo{
  width: 1fr;
  height: 30px;
}

/***** End Browser Support Logos *****/

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}