/***** Universal Styles *****/
        
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

header{
  font-size: 2.1rem;
  font-weight: bold;
  color: #399bd1;
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ad05adcb;
  padding: 2rem 0;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #da560a;
  margin-bottom: 1rem;
}
p{
  font-weight: 400;
  line-height: 1.7em;
  margin: .5rem 0;
}
ul{
  font-weight: 600;
  padding: 0 1.5rem;
  line-height: 1.8em;
}
img {
  width: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
table {
  width: 80%;
  margin: 1rem 0;
}
th{
  width: 1fr;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
td{
  border-bottom: 1px solid #ddd;
  width: 1fr;
  padding: 10px;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}

.mar-1rm{
  margin: 1rem 0;
}
.mar-1hlfrm{
  margin: 1.5rem 0;
}
.mar-2rm{
  margin: 2rem 0;
}
.mar-2hlfrm{
  margin: 2.5rem 0;
}
.mar-3rm{
  margin: 3rem 0;
}
/***** End Universal Styles *****/
#main-doc {
  border: 2px solid orange;
  position: absolute;
  margin-left: 21vw;
  margin-bottom: 110px;
}
.main-section{
  border: 2px solid lightblue;
  margin-bottom: 30px;
  padding: 2rem .5rem;
}
.main-section > ul{
  list-style-type: disc;
}
/***** Menu *****/
#navbar {
  position: fixed;
  width: 20vw;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: ivory;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}
#navbar > header{
  margin: 20px 0;
  padding-left: 20px;
}
#navbar ul {
  height: 75%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-link{
  display: block;
  color: #5a5656;
  font-weight: 600;
  margin: 2px 0;
  padding: 10px 0px 10px 20px;
}
.nav-link:hover, .nav-link:active {
  background: rgb(146, 196, 193);
  color: rgb(255, 255, 255);
}
.topnav {
  position: relative;
  display: none;
}
.menubtn {
  background-color: #4CAF50;
  color: white;
  width: auto;
  height: 100%;
  padding: 10px 10vw;
  border: none;
}
.hmbrgr{
  width: 7vw;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

.menubtn-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menubtn-content a {
  font-size: 1rem;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.menubtn-content a:hover {background-color: rgb(146, 196, 193);}

.topnav:hover .menubtn-content {display: block;}

.topnav:hover .menubtn {background-color: #3e8e41;}
/***** End Menu *****/

@media all and (max-width:30em){
  .button{
    display:block;
    margin:0.2em auto;
  }
}

/***** div Code Colors *****/
.cssselectorcolor,
.tagnamecolor{
  color: rgb(250, 115, 74);
}
.jscolor,
.cssdelimitercolor{
  color: rgb(255, 255, 255);
}
.tagcolor{
  color: rgb(172, 246, 252);
}
.jskeywordcolor,
.csspropertycolor,
.attributecolor{
  color: rgb(213, 161, 226);
}
.jsnumbercolor{
  color: #77a5fc;
}
.jspropertycolor{
  color: rgb(255, 255, 255);
}
.csspropertyvaluecolor,
.attributevaluecolor,
.jsstringcolor{
  color: rgba(168, 235, 168, 0.836);
}
.commentcolor{
  color: darkgrey;
}
/***** End Code Colors *****/

.code-div{
  background-color: rgba(185, 185, 182, 0.274);
  margin: 1rem 0;
  padding: 1rem 1em 1.5rem 1em;
}
.code-p{
  background-color: rgb(43, 41, 41);
  color: #d6d6d4;
  padding: 5px;
}
.code-txt{
  background-color: rgba(252, 216, 170, 0.233);
  color: #f72c2c;
  padding: 1px 5px;
}
.example-code{
  background-color: rgb(37, 36, 36);
  color: #ffffff;
  padding: 10px;
}
.code-p,
.code-txt,
.example-code{
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-style: italic;
}

.highlight{
  background-color: rgba(240, 245, 169, 0.452);
  padding: 15px;
}
.highlight-red{
  background-color: rgba(250, 174, 174, 0.452);
  padding: 15px;
}
.img-div{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 90%;
  height: auto;
  padding: 0;
}
.img-div > img{
  background-color: white;
  max-width: 100%;
  height: 20vw;
  padding: 0 15%;
}

.example-method{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 80%;
  padding: 2% 5%;
}

/***** Browser Support Logos *****/
.browserLogo{
  width: 1fr;
  height: 30px;
}
/***** End Browser Support Logos *****/

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  header{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1.5rem 0;
  }
  table {
    width: 100%;
    margin: 1rem 0;
  }
  #main-doc {
    position: absolute;
    max-width: 100vw;
    margin-left: 0;
    margin-bottom: 5vw;
  }
  .main-section {
    padding: 5rem 4vw 0 4vw;
  }
  #navbar {
    position: fixed;
    top: 0px;
	  left: 0px;
	  width: 100%;
	  height: auto;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: ivory;
    border-bottom: solid;
    border-color: rgba(0, 22, 22, 0.4);
    z-index: 1;
  }
  #navbar > header{
    margin: 0;
    padding-right: 2vw;
    font-size: 1.8rem;
    font-weight: bold;
    color: #399bd1;
  }
  .topnav {
    display: block;
  }
  #nav-ul{
    display: none;
  }
  
  .img-div{
    max-width: 100vw;
    padding: 2%;
  }
  .img-div > img{
    max-width: 80vw;
    height: 15em;
    padding: 0 3%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #navbar {
    position: fixed;
    top: 0px;
	  left: 0px;
	  width: 100%;
	  height: auto;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: ivory;
    border-bottom: solid;
    border-color: rgba(0, 22, 22, 0.4);
    z-index: 1;
  }
  #navbar > header{
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #399bd1;
    padding-top: 0;
    margin-bottom: 2vw;
  }
  .topnav {
    display: block;
  }
  #nav-ul{
    display: none;
  }
  #main-doc {
    background: lightgreen;
    border: 2px solid orange;
    /**position: absolute;**/
    margin-top: 90px;
    margin-left: 0;
    padding: 0px;
    margin-bottom: 110px;
    align-items: center;
    overflow: hidden;
  }
  .img-div{
    width: 50%;
    height: auto;
    padding: 3%;
  }
  .img-div > img{
    max-width: 80%;
    height: auto;
    padding: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #main-doc {background: lightblue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #main-doc {background: rgb(238, 255, 0);}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #main-doc {background: rgb(248, 210, 216);}
}