/***** Universal Styles *****/
        
html {
  font-size: 16px;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

header{
  font-size: 2.1rem;
  font-weight: bold;
  color: #399bd1;
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #ad05adcb;
  padding: 2rem 0;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #da560a;
  margin-bottom: 1rem;
}

p{
  font-weight: 400;
}
ul{
  font-weight: 600;
  padding: 0 1.5rem;
  line-height: 1.8em;
}
img {
  width: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
table {
  margin: 1rem 0;
}
tbody{
  overflow-x: scroll;
}
th{
  width: 1fr;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}
td{
  border-bottom: 1px solid #ddd;
  width: 1fr;
  padding: 10px;
}
table tr:nth-child(even){
  background-color: #f2f2f2;
}
/***** End Universal Styles *****/
#main-doc {
  position: absolute;
}
.main-section{
  margin-bottom: 30px;
  padding: 15vw .5rem;
}
.main-section > ul{
  list-style-type: disc;
}
/***** Menu *****/
#navbar {
  position: fixed;
  width: 280px;
  top: 0px;
  left: 0px;
  height: 100%;
  background-color: ivory;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  z-index: 1;
}
#navbar > header{
  margin: 20px 0;
  padding-left: 20px;
}
#navbar ul {
  height: 75%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-link{
  display: block;
  color: #5a5656;
  font-weight: 600;
  margin: 2px 0;
  padding: 10px 0px 10px 20px;
}
.nav-link:hover, .nav-link:active {
  background: rgb(146, 196, 193);
  color: rgb(255, 255, 255);
}
.topnav {
  position: relative;
  display: none;
  cursor: pointer;
}
.menubtn {
  background-color: #4CAF50;
  width: auto;
  height: auto;
  padding: 3vw 6vw;
  border: none;
}
.hmbrgr{
  width: 7vw;
  height: 5px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
}

.menubtn-content {
  display: none;
  position: absolute;
  overflow-y: scroll;
  background-color: #f1f1f1;
  width: 45vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.menubtn-content a {
  font-size: 1rem;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  
}

.menubtn-content a:hover {background-color: rgb(146, 196, 193);}

.topnav:hover .menubtn-content {display: block;}

.topnav:hover .menubtn {background-color: #3e8e41;}
/***** End Menu *****/

/***** div Code Colors *****/
.cssselectorcolor,
.tagnamecolor{
  color: rgb(250, 115, 74);
}
.jscolor,
.cssdelimitercolor{
  color: rgb(255, 255, 255);
}
.tagcolor{
  color: rgb(172, 246, 252);
}
.jskeywordcolor,
.csspropertycolor,
.attributecolor{
  color: rgb(213, 161, 226);
}
.jsnumbercolor{
  color: #77a5fc;
}
.jspropertycolor{
  color: rgb(255, 255, 255);
}
.csspropertyvaluecolor,
.attributevaluecolor,
.jsstringcolor{
  color: rgba(168, 235, 168, 0.836);
}
.commentcolor{
  color: darkgrey;
}
/***** End Code Colors *****/

.code-div{
  display: block;
  background-color: rgba(185, 185, 182, 0.274);
  margin: 1rem 0;
  padding: 1rem;
}
.example-code{
  background-color: rgb(37, 36, 36);
  color: #ffffff;
  padding: 5%;
  overflow-x: scroll;
}
.code-p{
  background-color: rgb(43, 41, 41);
  color: #d6d6d4;
  padding: 5%;
}
.code-txt{
  background-color: rgba(252, 216, 170, 0.233);
  color: #f72c2c;
  padding: 1px 5px;
}

.code-p,
.code-txt,
.example-code{
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-style: italic;
}

.highlight{
  background-color: rgba(240, 245, 169, 0.452);
}
.highlight-red{
  background-color: rgba(250, 174, 174, 0.452);
  padding: 15px;
}
.img-div{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 90%;
  height: auto;
  padding: 0;
}
.img-div > img{
  background-color: white;
  max-width: 100%;
  height: 20vw;
  padding: 0 15%;
}

.example-method{
  background-color: rgba(228, 228, 227, 0.555);
  max-width: 80%;
  padding: 2% 5%;
}
.button{
  background-color: rgb(250, 95, 34);
  padding:0.3em 1.2em;
  margin:0 0.1em 1em 0;
  margin-bottom: 1rem;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:.15em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  font-size: inherit;
  font-weight:600;
  color:#FFFFFF;/**
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  **/
  text-align:center;
  transition: all .25s;
}
.button:hover{
  background-color: rgb(63, 192, 3);
  border-color: #0ba36907;
  box-shadow:
  inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),
  inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
#nodenavi-div{
  display: flex;
  width: 100%;
}

/***** Browser Support Logos *****/
.browserLogo{
  width: 1fr;
  height: 30px;
}
/***** End Browser Support Logos *****/

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }
  p{
    font-size: 5rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1.5rem 0;
  }
  p{
    font-size: 1rem;
  }
  table {
    display: flex;
    width: 100%;
    margin: 1rem 0;
  }
  tbody{
    overflow-x: scroll;
  }
  #main-doc{
    width: 99.5%;
  }
  .img-div{
    max-width: 90vw;
    padding: 2%;
  }
  .img-div > img{
    max-width: 80vw;
    height: 15em;
    padding: 0 3%;
  }
  .button{
    font-size: .75rem;
    font-weight: 600;
    padding: .75em;
  }
  #nodenavi-div{
    flex-direction: column;
    width: 100%;
  }
  #nodenavi-div > div{
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  #main-doc {
    background: lightgreen;
    /**position: absolute;**/
    margin-top: 90px;
    margin-left: 0;
    padding: 0px;
    margin-bottom: 110px;
  }
  .img-div{
    width: 50%;
    height: auto;
    padding: 3%;
  }
  .img-div > img{
    max-width: 80%;
    height: auto;
    padding: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #main-doc {background: lightblue;}
}
.code-txt,
p{
  font-size: 1rem;
}
header{
  font-size: 2.3rem;
}
#navbar > header{
  font-size: 2.5rem;
}


/* topmenu navbar  (tablets/mobile, under 992px) */
@media only screen and (max-width: 991px) {
  #nav-ul{
  display: none;
}
  #navbar {
    position: fixed;
    top: 0px;
	  left: 0px;
	  width: 100%;
	  height: auto;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 59, 58);
    z-index: 1;
  }
  #navbar > header{
    margin: 0;
    font-weight: bold;
    color: #d9eaf3;
    padding-right: 1rem;
  }
  
  .topnav {
    display: block;
  }
  
  #main-doc {
    position: absolute;
    max-width: 94%;
    margin-left: 0;
    margin-bottom: 5vw;
    align-items: center;
    overflow: hidden;
    padding: 3%;
  }/**
  .main-section {
    padding: 5rem 5vw 0 3vw;
  }
  .code-div{
    width: 110%;
    margin: 1rem 0;
    margin-left: -5%;
    overflow: hidden;
    padding: 1rem 10% 1rem 5%;
  }
  .example-code{
    display: block;
    width: 110%;
    margin-left: -5%;
    padding: 1rem 20% 1rem 5%;
    overflow: hidden;
  } **/
  .highlight{
    width: 110%;
    margin-left: -5%;
    padding: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #main-doc {
    background: rgba(250, 147, 250, 0.356);
    margin-left: 21vw;
    margin-bottom: 110px;
    max-width: 70vw;
  }
  .highlight{
    padding: .5rem;
    margin-top: 1rem;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #main-doc {
    background: rgb(248, 210, 216);
  }
}